In [1]:
import os
import pandas as pd
import csv

In [ ]:
# Get the directory with the notebooks, including its subdirectories
current_dir = os.getcwd()

# Get the directories with data and results
data_dir = os.path.join(current_dir, "data")
temporary_dir= os.path.join(current_dir, "temporary_data")
results_dir = os.path.join(current_dir, "results")

project_dir = os.path.dirname(current_dir)

inputs_dir = os.path.join(project_dir, "inputs")

print(project_dir, current_dir, results_dir, data_dir, inputs_dir)

/home/rlefeuvr/Documents/Workspace/Debloat/bloat-energy-consumption /home/rlefeuvr/Documents/Workspace/Debloat/bloat-energy-consumption/notebooks /home/rlefeuvr/Documents/Workspace/Debloat/bloat-energy-consumption/notebooks/results /home/rlefeuvr/Documents/Workspace/Debloat/bloat-energy-consumption/notebooks/data /home/rlefeuvr/Documents/Workspace/Debloat/bloat-energy-consumption/inputs

In [ ]:
# After we need to put together the PSYS and Size values for each program in each of the 3 different implementations

# Example usage
csv_with_ec = os.path.join(results_dir, 'averagePSYS_all_repeats.csv')
# Read the first CSV file
df = pd.read_csv(csv_with_ec, delimiter=';')
df

     Program Utilities          PSYS
0     base64   BusyBox  4.303545e+05
1     base64       GNU  3.495048e+05
2     base64    ToyBox  9.077979e+05
3   basename   BusyBox  2.937127e+05
4   basename       GNU  2.940271e+05
..       ...       ...           ...
79      true       GNU  2.947838e+05
80      true    ToyBox  2.908623e+05
81        wc   BusyBox  8.755721e+07
82        wc       GNU  4.546934e+08
83        wc    ToyBox  1.514813e+08

[84 rows x 3 columns]

In [4]:
df_pivot = df.pivot(index='Program', columns='Utilities')
df_pivot

                   PSYS
Utilities       BusyBox           GNU        ToyBox
Program
base64     4.303545e+05  3.495048e+05  9.077979e+05
basename   2.937127e+05  2.940271e+05  2.926171e+05
cat        3.755542e+07  2.125736e+06  1.517433e+09
chmod      1.951976e+06  1.539669e+06  1.523403e+06
cksum      2.458047e+08  1.139345e+07  2.062460e+08
comm       1.208715e+08  5.506528e+07  3.383169e+08
cp         1.112494e+08  1.088484e+08  1.474435e+08
cut        4.932394e+06  2.207312e+06  1.139999e+07
date       3.122152e+05  3.153679e+05  3.153069e+05
dirname    3.100884e+05  3.215384e+05  3.122429e+05
du         4.905932e+05  5.232377e+05  5.185350e+05
echo       3.052972e+05  3.214469e+05  3.108848e+05
expand     1.456601e+07  7.273004e+06  5.023578e+05
factor     3.162590e+05  3.219719e+05  3.161642e+05
false      3.053183e+05  3.201407e+05  3.147483e+05
head       3.079398e+05  3.200187e+05  3.148215e+05
id         3.081933e+05  3.279167e+05  3.132042e+05
link       3.063437e+05  3.172843e+05  3.123558e+05
ln         3.051200e+05  3.224753e+05  3.357046e+05
logname    3.100822e+05  3.223869e+05  3.108298e+05
ls         8.980628e+05  1.048413e+06  3.487467e+06
md5sum     1.431506e+08  1.185998e+08  2.640305e+08
mkdir      2.976526e+05  3.066123e+05  3.003350e+05
mv         2.952782e+05  3.069390e+05  2.968988e+05
sort       3.182993e+08  9.554343e+07  4.693342e+08
touch      2.945090e+05  2.951958e+05  2.951806e+05
true       2.948539e+05  2.947838e+05  2.908623e+05
wc         8.755721e+07  4.546934e+08  1.514813e+08

In [ ]:
df_pivot['Difference_BusyBox'] = ((df_pivot['PSYS']['BusyBox'] - df_pivot['PSYS']['GNU']) / df_pivot['PSYS']['GNU']) * 100
df_pivot['Difference_ToyBox'] = ((df_pivot['PSYS']['ToyBox'] - df_pivot['PSYS']['GNU']) / df_pivot['PSYS']['GNU']) * 100
new_df = pd.DataFrame({
                       'BusyBox': df_pivot['Difference_BusyBox'].round(2),
                       'ToyBox': df_pivot['Difference_ToyBox'].round(2)})
new_df

          BusyBox    ToyBox
Program
base64      23.13    159.74
basename    -0.11     -0.48
cat       1666.70  71283.90
chmod       26.78     -1.06
cksum     2057.42   1710.22
comm       119.51    514.39
cp           2.21     35.46
cut        123.46    416.46
date        -1.00     -0.02
dirname     -3.56     -2.89
du          -6.24     -0.90
echo        -5.02     -3.29
expand     100.28    -93.09
factor      -1.77     -1.80
false       -4.63     -1.68
head        -3.77     -1.62
id          -6.01     -4.49
link        -3.45     -1.55
ln          -5.38      4.10
logname     -3.82     -3.58
ls         -14.34    232.64
md5sum      20.70    122.62
mkdir       -2.92     -2.05
mv          -3.80     -3.27
sort       233.15    391.23
touch       -0.23     -0.01
true         0.02     -1.33
wc         -80.74    -66.68