In [2]:
import os
import pandas as pd
import csv

In [1]:
import os

# Get the directory with the notebooks, including its subdirectories
current_dir = os.getcwd()

# Get the directories with data and results
data_dir = os.path.join(current_dir, "data/debloating")
temporary_dir= os.path.join(current_dir, "debloating_temporary_data")
results_dir = os.path.join(current_dir, "debloating_results")

project_dir = os.path.dirname(current_dir)

pre_experiment_dir = os.path.join(project_dir, "pre-experiment")

print(project_dir, current_dir, results_dir, data_dir, pre_experiment_dir)

/home/qperez/PycharmProjects/bloat-energy-consumption /home/qperez/PycharmProjects/bloat-energy-consumption/notebooks /home/qperez/PycharmProjects/bloat-energy-consumption/notebooks/debloating_results /home/qperez/PycharmProjects/bloat-energy-consumption/notebooks/data/debloating /home/qperez/PycharmProjects/bloat-energy-consumption/pre-experiment

In [3]:
# After we need to put together the PSYS and Size values for each program in each of the 3 different implementations
# After we need to put together the PSYS and Size values for each program in each of the 3 different implementations

# Example usage
csv_with_ec = os.path.join(results_dir, 'averagePSYS_all_repeats.csv')

# Read the first CSV file
df = pd.read_csv(csv_with_ec, delimiter=';')
df

        Program Utilities       PSYS
0          date   bloated  287914.25
1          date    chisel  284160.70
2          date       cov  284352.85
3          date     debop  284331.55
4          grep   bloated  317086.10
5          grep    chisel  457307.85
6          grep       cov  315260.85
7          grep     debop  315404.45
8          gzip   bloated  334755.55
9          gzip    chisel  549107.40
10         gzip       cov  331841.20
11         gzip     debop  331715.95
12        mkdir   bloated  289446.30
13        mkdir    chisel  287996.70
14        mkdir       cov  287615.30
15        mkdir     debop  287520.60
16  printokens2   bloated  282000.05
17  printokens2    chisel  281304.40
18  printokens2       cov  285134.15
19  printokens2     debop  281771.20
20          sed   bloated  285567.55
21          sed    chisel  288768.75
22          sed       cov  290404.50
23          sed     debop  287371.10

In [4]:
df_pivot = df.pivot(index='Program', columns='Utilities')
df_pivot

                  PSYS
Utilities      bloated     chisel        cov      debop
Program
date         287914.25  284160.70  284352.85  284331.55
grep         317086.10  457307.85  315260.85  315404.45
gzip         334755.55  549107.40  331841.20  331715.95
mkdir        289446.30  287996.70  287615.30  287520.60
printokens2  282000.05  281304.40  285134.15  281771.20
sed          285567.55  288768.75  290404.50  287371.10

In [5]:
df_pivot['Difference_chisel'] = ((df_pivot['PSYS']['chisel'] - df_pivot['PSYS']['bloated']) / df_pivot['PSYS']['bloated']) * 100
df_pivot['Difference_cov'] = ((df_pivot['PSYS']['cov'] - df_pivot['PSYS']['bloated']) / df_pivot['PSYS']['bloated']) * 100
df_pivot['Difference_debop'] = ((df_pivot['PSYS']['debop'] - df_pivot['PSYS']['bloated']) / df_pivot['PSYS']['bloated']) * 100

new_df = pd.DataFrame({
                       'Chisel': df_pivot['Difference_chisel'].round(2),
                        'Debop': df_pivot['Difference_debop'].round(2),
                       'Cov': df_pivot['Difference_cov'].round(2)})


#output_data = os.path.join(results_dir, 'in_percentage_diffs.csv')
#new_df.to_csv(output_data, index=False)
new_df

             Chisel  Debop   Cov
Program
date          -1.30  -1.24 -1.24
grep          44.22  -0.53 -0.58
gzip          64.03  -0.91 -0.87
mkdir         -0.50  -0.67 -0.63
printokens2   -0.25  -0.08  1.11
sed            1.12   0.63  1.69