In [1]:
import os
import pandas as pd
import csv

In [2]:
# Get the directory with the notebooks, including its subdirectories
current_dir = os.getcwd()

# Get the directories with data and results
data_dir = os.path.join(current_dir, "data")
temporary_dir= os.path.join(current_dir, "temporary_data")
results_dir = os.path.join(current_dir, "results")

project_dir = os.path.dirname(current_dir)

print(project_dir, current_dir, results_dir, data_dir)

/home/xternava/Documents/GitHub/bloat-energy-consumption /home/xternava/Documents/GitHub/bloat-energy-consumption/notebooks /home/xternava/Documents/GitHub/bloat-energy-consumption/notebooks/results /home/xternava/Documents/GitHub/bloat-energy-consumption/notebooks/data

In [3]:
# After we need to put together the PSYS and Size values for each program in each of the 3 different implementations
# After we need to put together the PSYS and Size values for each program in each of the 3 different implementations

# Example usage
csv_with_ec = os.path.join(results_dir, 'averagePSYS_all5repeats.csv')

# Read the first CSV file
df = pd.read_csv(csv_with_ec, delimiter=';')
df

     Program Utilities          PSYS
0     base64   BusyBox  4.099720e+05
1     base64       GNU  3.444662e+05
2     base64    ToyBox  8.535745e+05
3   basename   BusyBox  2.750240e+05
4   basename       GNU  2.898095e+05
..       ...       ...           ...
82      true       GNU  2.740270e+05
83      true    ToyBox  2.738335e+05
84        wc   BusyBox  8.138908e+07
85        wc       GNU  4.281443e+08
86        wc    ToyBox  1.405069e+08

[87 rows x 3 columns]

In [4]:
df_pivot = df.pivot(index='Program', columns='Utilities')
df_pivot

                   PSYS
Utilities       BusyBox           GNU        ToyBox
Program
base64     4.099720e+05  3.444662e+05  8.535745e+05
basename   2.750240e+05  2.898095e+05  2.729028e+05
cat        3.551335e+07  2.088353e+06  1.431692e+09
chmod      1.865260e+06  1.522833e+06  1.462795e+06
cksum      2.312033e+08  1.115443e+07  1.944167e+08
comm       1.137928e+08  5.198800e+07  3.132535e+08
cp         9.898909e+07  1.045296e+08  9.878423e+07
cut        4.823657e+06  2.125279e+06  1.109143e+07
date       2.953888e+05  3.011263e+05  3.095288e+05
df         3.065788e+05  3.104948e+05  3.249503e+05
dirname    3.047678e+05  2.993565e+05  3.088065e+05
du         4.744047e+05  4.917387e+05  4.955027e+05
echo       2.989595e+05  3.040052e+05  3.040562e+05
expand     1.415680e+07  6.818790e+06  4.968352e+05
factor     3.024893e+05  3.069448e+05  3.084507e+05
false      2.959485e+05  2.991632e+05  3.015535e+05
head       3.030592e+05  3.073013e+05  3.109938e+05
id         2.984612e+05  3.072603e+05  3.072910e+05
link       2.961013e+05  3.024285e+05  3.041170e+05
ln         2.953383e+05  2.971388e+05  3.212678e+05
logname    3.029268e+05  3.011875e+05  2.928358e+05
ls         8.622112e+05  9.879430e+05  3.389131e+06
md5sum     1.336889e+08  1.106313e+08  2.474203e+08
mkdir      2.799573e+05  2.876377e+05  2.886240e+05
mv         2.752172e+05  2.923678e+05  2.782282e+05
sort       2.979542e+08  8.988996e+07  4.388507e+08
touch      2.752678e+05  2.802932e+05  2.815545e+05
true       2.758680e+05  2.740270e+05  2.738335e+05
wc         8.138908e+07  4.281443e+08  1.405069e+08

In [5]:
df_pivot['Difference_BusyBox'] = ((df_pivot['PSYS']['BusyBox'] - df_pivot['PSYS']['GNU']) / df_pivot['PSYS']['GNU']) * 100
df_pivot['Difference_ToyBox'] = ((df_pivot['PSYS']['ToyBox'] - df_pivot['PSYS']['GNU']) / df_pivot['PSYS']['GNU']) * 100
new_df = pd.DataFrame({
                       'Difference_BusyBox': df_pivot['Difference_BusyBox'].round(2),
                       'Difference_ToyBox': df_pivot['Difference_ToyBox'].round(2)})
new_df

          Difference_BusyBox  Difference_ToyBox
Program
base64                 19.02             147.80
basename               -5.10              -5.83
cat                  1600.54           68456.04
chmod                  22.49              -3.94
cksum                1972.75            1642.96
comm                  118.88             502.55
cp                     -5.30              -5.50
cut                   126.97             421.88
date                   -1.91               2.79
df                     -1.26               4.66
dirname                 1.81               3.16
du                     -3.53               0.77
echo                   -1.66               0.02
expand                107.61             -92.71
factor                 -1.45               0.49
false                  -1.07               0.80
head                   -1.38               1.20
id                     -2.86               0.01
link                   -2.09               0.56
ln                     -0.61               8.12
logname                 0.58              -2.77
ls                    -12.73             243.05
md5sum                 20.84             123.64
mkdir                  -2.67               0.34
mv                     -5.87              -4.84
sort                  231.47             388.21
touch                  -1.79               0.45
true                    0.67              -0.07
wc                    -80.99             -67.18